:root {
    /* CSS HEX */
    --orange-crayola: #F3824Aff;
    --indigo-dye: #094B65ff;
    --space-cadet: #1F2243ff;
    --dark-cyan: #209C9Bff;
    --cosmic-latte: #FFF;

    /* CSS HSL */
    --orange-crayola-clear: hsla(20, 88%, 62%, .75);
    --indigo-dye-clear: hsla(197, 84%, 22%, .75);
    --space-cadet-clear: hsla(235, 37%, 19%, .75);
    --dark-cyan-clear: hsla(180, 66%, 37%, .75);
    --cosmic-latte-clear: rgba(250, 245, 229, .75);
    --background-grey: #f9f9f9;

    --paragraph-font: "Arial Narrow";
}

* {
    /* Reset Some Stuff */
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: var(--paragraph-font);
}
img {
    /* Reset Some Image Stuff */
    width: 100%;
    object-fit: cover;
}

body {
    background-color: var(--cosmic-latte);
}

header {
    background-color: var(--orange-crayola);
    color: white;
    height: 50px;
}
h1 {
    margin: 0;
    text-align: center;
}

nav {
    background-color: var(--indigo-dye);
    text-align: right;
    padding-top: 50px;
    grid-row: 1/4;
}
li {
    padding: 5px;
}
a {
    margin: 5px;
    color: white;
}
.active {
    background-color: var(--cosmic-latte);
    color: var(--space-cadet);
    text-decoration: none;
    font-weight: 700;
}
a:hover {
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

button#menu {
    display: none;
}

#wrapper {
    grid-column: 2/5;
    margin: 1rem;
}

footer {
    background-color: var(--orange-crayola);
    color: white;
    text-align: center;
    padding: 10px;
}
footer img {
    filter: drop-shadow(5px 10px 15px var(--space-cadet));
}

/* Home Page */

#banner {
    background-color: var(--space-cadet);
    color: var(--cosmic-latte);
}

#callToRent {
    display: grid;
}

#callToRent picture {
    grid-column: 1/4;
    grid-row: 1/5;
}

#callToRentImg {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    align-items: center;
    box-shadow: 5px 10px 15px var(--space-cadet);
    
}

#callToRent a {
    text-align: center;
    color: var(--space-cadet);
    background-color: var(--cosmic-latte-clear);
    grid-column: 2/3;
    grid-row: 3/4;
    padding: .5rem;
    font-weight: 700;
}


.segue {
    color: var(--cosmic-latte);
    background-color: var(--indigo-dye);
    text-align: center;
    padding: .5rem;
    margin: .5rem;
}


#infoCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.infoCard {
    background-color: var(--dark-cyan);
    color: var(--cosmic-latte);
    margin: .5rem;
    padding: 1rem .5rem;
    width: 250px;
    box-shadow: 5px 10px 15px var(--space-cadet);
}

.infoCard img {
    height: 130px;
    width: 100%;
    object-fit: cover;
}

.infoCard h3 {
    text-align: left;
    padding: .25rem;
    background-color: var(--indigo-dye);
}


.infoCard a {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    padding-left: 10px;
}


.socialLink {
    max-width: 30px;
    max-height: 30px;
}

#weatherCard {
    text-align: center;
}
#weather-icon {
    max-height: 50px;
    max-width: 50px;
}

#contactInfo {
    display: flex;
    color: var(--cosmic-latte);
}
#contactInfo img{
    margin: auto;
    max-width: 150px;
    height: auto;
}
#contactInfo #addressInfo{
    margin: auto;
}
#addressInfo p {
    font-size: smaller;
}
#contactInfo #teleInfo{
    margin: auto;

}

figure {
    display: flex;
}
figure img {
    margin: auto;
}
figcaption {
    font-variant-caps: petite-caps;
    margin: auto;
}

/* Rentals */

#RentalTableWrapper {
    display: grid;
    grid-column: 2/5;
    margin: 1rem;
    overflow: scroll;
}

#rentalHeader {
    grid-column: 2/5;
    max-height: 50px;
}

table {
    /* border-collapse: collapse; */
    width: 100%;
    grid-column: 1/6;
}
th, td {
    border: 1px solid var(--background-grey);
    text-align: left;
    padding: 8px;
    
}
th {
    background-color: var(--indigo-dye);
    color: var(--cosmic-latte);
}

#RentalCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column: 2/5;
    margin: 1rem;
}

#RentalCards .infoCard {
    width: 400px;
}

/* Reservations */

.containerForm {
    grid-column: 2/5;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
}
  
.rental-agreement,
.reservation-form {
    background-color: var(--background-grey);
    padding: 20px;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
}
  
input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Contact */

#contactImage {
    height: 200px;
    width: 100%;
}

input, textarea {
    max-width: 90%;
}

iframe {
    max-width: 100%;
    margin: .5rem 0rem;
}

#contactCard {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    text-align: center;
}

#locationCard {
    grid-column: 2/5;
    grid-row: 2/3;
    width: 100%;
}
#mapCard {
    display: flex;
    flex-grow: 1;
}

#moreInfoCard {
    grid-column: 3/5;
    grid-row: 1/2;
    width: 100%;
}