@media (max-width: 35em) {

    button#menu {
        display: block;
    }

    #menu {
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: white;
        position: absolute;
        top: 3rem;
        right: 0.5rem;
        display: block;
    }
    
    #menu::before {
        content: "☰";
    }
    
    #menu.open::before {
        content: "X";
    }
    
    .navigation {
        display: none;
        flex-direction: column;
        list-style: none;
    }

    .navigation.open {
        display: flex;
        flex-direction: column;
        list-style: none;
    }
    
    .navigation a {
        display: none;
        padding: 5px;
        text-align: center;
    }
    .navigation a:hover {
        font-weight: 700;
    }
    
    .open a {
        content: "";
        display: block;
    }


    /* Discover Page Styling */


    #discoverMain {
        display: flex;
    }
    
    h2 {
        color: var(--white);
        background-color: var(--secondary-color);
        padding: 10px 50px;
        max-width: 100%;
        border-radius: 0px 15px 0px 15px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    /* #discoverInfo {

    }
    
    #discoverPic {

    }
    
    #discoverCal {

    }
    
    #discoverWithPics {

    } */

    .discoverImages:hover {
        transform: none;
    }
}