@media (max-width: 35em) {

    button#menu {
        display: block;
    }

    #menu {
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: white;
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: block;
    }
    
    #menu::before {
        content: "☰";
    }
    
    #menu.open::before {
        content: "X";
    }
    
    .navigation {
        display: none;
        flex-direction: column;
        list-style: none;
    }

    .navigation.open {
        display: flex;
        flex-direction: column;
        list-style: none;
    }
    
    .navigation a {
        display: none;
        padding: 5px;
        text-align: center;
    }
    .navigation a:hover {
        font-weight: 700;
    }
    
    .open a {
        content: "";
        display: block;
    }
}