@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --primary-color: #056C37;
    --secondary-color: #3f3f3f;
    --white: white;
    --black: black;
    --accent-color: #5A9D2C;

    --regular-font: "Roboto";
    --italic-font: '';
    /*--bold-font: "OpenSans-Bold-webfont";
    --light-font: '.roboto-light'; */

}


body {
    font-family: "Roboto";
    font-size: 1.2rem;
}

.dark-mode {
    background-color: var(--secondary-color);
    color: white;
}


/* header */

header {
    color: var(--white);
    display: flex;
    background-color: var(--secondary-color);
    padding: 5px;
    justify-content: center;
    align-items: center;
}

header img {
    max-height: 100px;
}

#title {
    justify-content: center;
    text-align: center;
}

#title h1 {
    margin: 0px;
    padding: 0px;
    font-size: clamp(1rem, 10vw, 1.5rem);
    white-space: nowrap;
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 0.5rem;
    right: 0.5rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 0px 15px 0px 15px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 0px 15px 0px 15px;
}

input:checked+.slider {
    background-color: var(--primary-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--accent-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* nav */

nav {
    display: flex;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    background-color: var(--primary-color);
}

.navigation {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    padding: 5px 25px;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    text-decoration: overline;
}

button#menu {
    display: none;
}

/* hero image */

#hero-banner {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}


#hero-image {
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: -1;
}

#hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero-call {
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--primary-color);
    padding: 25px;
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 15px;
    font-weight: 800;
    border: var(--primary-color);
    border-style: groove;
}

#hero-call:hover {
    color: var(--accent-color);
    border: var(--accent-color);
    border-style: groove;
    font-weight: 800;
    text-decoration: none;
}

/* main */

main {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--accent-color);
}

main section {
    background-color: var(--primary-color);
    margin: 10px;
    padding: 10px;
    border-radius: 0px 15px 0px 15px;
    flex-grow: 1;
    color: var(--white);
    box-shadow: 5px 10px 15px var(--secondary-color);
}

/* main section h3 p {
    text-align: left;
} */

#weatherCard,
#eventsCard {
    padding-right: 25px;

}
figcaption {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-variant:small-caps;
    font-size: larger;
}

#spotlightCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

#weatherCard,
#eventsCard,
#spotlightCard h3 {
    text-shadow: 1px 1px 5px #3f3f3f;
}

#weatherCard,
#eventsCard,
#spotlightCard p {
    text-shadow: 1px 1px 5px #3f3f3f;
}

.spotlight {
    padding-right: 25px;
    flex-grow: 1;
}

/* contact info */

#contactInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#contactInfo img {
    display: block;
    max-width: 100%;
}

#addressInfo {
    padding: 10px;
    text-align: left;
}

#addressInfo h4 {
    margin: 0px;
    padding: 0px;
}

#addressInfo p {
    margin: 0px;
    padding: 0px;
}

#addressInfo :nth-child(1) {
    font-weight: bold;
}

#teleInfo {
    padding: 10px;
}

/* footer */

footer {
    color: var(--white);
    background-color: var(--secondary-color);
    text-align: center;
    padding: 5px;
    border: var(--secondary-color);
    border-top: var(--primary-color);
    border-style: groove;
}


/* Discover Page Styling */

#discoverMain {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

h2 {
    color: var(--white);
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: var(--secondary-color);
    padding: 10px 50px;
    max-width: 100%;
    border-radius: 0px 15px 0px 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px 15px var(--secondary-color);
}

#discoverInfo {
    grid-column: 1/2;
    grid-row: 2/3;
}

#discoverPic {
    grid-column: 1/2;
    grid-row: 3/4;
}

#discoverPic picture img {
    object-fit: cover;
}

#discoverCal {
    grid-column: 1/2;
    grid-row: 4/5;
}

#discoverWithPics {
    grid-column: 2/3;
    grid-row: 2/5;
}

.discoverPics {
	max-width: 400px;
}

.discoverImages:hover {
    transform: scale(1.2);
    transition: 10ms;
}

/* Join the Chamber Form */
#chamberForm {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}

#chamberForm > * {
    width: 100%;
    margin: 5px;
    justify-content: center;
    align-content: center;
}

#chamberForm label input {
    padding: 5px 10px;
}
#chamberForm input {
    padding: 5px 10px;
    margin: 5px;
}

#membershipInfo {
    border: 3px solid var(--accent-color);
    background-color: var(--secondary-color);
    border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 10px 15px var(--secondary-color);
    margin: 15px 0px;
}
#membershipInfo p {
    text-align: center;
}
#membershipInfo > * {
    font-size: 0.8rem;
    text-align: left;
}
#membershipInfo span {
    font-weight: bold;
}



/* banner message */

#banner {
    display: none; 
    border: var(--accent-color) solid 3px;
    padding: 5px;
    text-align: center;
}