

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&family=Roboto&display=swap');

@media (max-width: 799px) {

:root {
    --primary-color: skyblue;
    --secondary-color: whitesmoke;
    --accent1-color: black;
  
    --heading-font: "Jura";
    --paragraph-font: "Roboto";
}



body {
    font-family: var(--paragraph-font);
    font-size: 1.2rem;
    z-index: -1;
}



header {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
	display: flex;
	align-items: center;
	justify-content: center;
}
header div {
    margin-left: auto;
}
#profile-pic {
    max-width: 150px;
    border-radius: 25px;
    padding: 1em;
}
#profile-name {
    text-align: left;
    padding: 1em;
    margin: auto;
}



nav {
    background-color: var(--primary-color);
    color: var(--secondary-color);
	display: flex;
	align-items: center;
	justify-content: center;

}
nav a {
	display: block;
	text-align: center;
	text-decoration: none;
}
a {
    text-decoration: none;
    color: var(--accent1-color);
    margin: 1em;
}
a:hover {
    text-decoration: underline;
}

nav ul {
	list-style-type: none;
    margin: 0;
}

h1, h2, h3 {
    font-family: var(--heading-font);
    text-align: center;
    padding: 1em;
}

h3 {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}




main {
    max-width: 900px;
    display: grid;
    padding: 1em 2.5em 5em 2.5em;
    margin-left: auto;
    margin-right: auto;
}
#subtitle {
    padding: 0px;
    text-decoration: underline;
}

main div {
    border-style: groove;
    border-radius: 25px;
    background-color: var(--secondary-color);
    margin: 5px;
}
li {
    list-style: none;
}
main div h3 {
    border-radius: 25px;
    margin: 5px;
}




footer {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 10px;
}

}